<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
	<div class="row">
		<div class="col-sm-7">
			<h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>
			<span class="mainDescription">overview &amp; stats </span>
		</div>
		<div class="col-sm-5">
			<!-- start: MINI STATS WITH SPARKLINE -->
			<!-- /// controller:  'SparklineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
			
			<!-- end: MINI STATS WITH SPARKLINE -->
		</div>
	</div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div ng-controller="dashboardCtrl" class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-sm-6">
			
			<div class="panel panel-white no-radius text-center" style="border-width:3px;">
				<div class="panel-body">
					<h1 class="StepTitle text-orange">{{charged.length}} Charged</h1>
					<div class="row">
						<div class="col-sm-12">
							<h2>Amount : $<span ng-bind="chargedTotal"></span></h2>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>

		<div class="col-sm-6">
			
			<div class="panel panel-white no-radius text-center" style="border-width:3px;">
				<div class="panel-body">
					<h1 class="StepTitle text-green">{{settled.length}} Settled</h1>
					<div class="row">
						<!-- <div class="col-sm-6">
							<h2>Count: <span ng-bind="settled.length"></h2> 
						</div> -->
						<div class="col-sm-12">
							<h2>Amount : $<span ng-bind="settledTotal"></h2>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="col-sm-6">
			
			<div class="panel panel-white no-radius text-center" style="border-width:3px;">
				<div class="panel-body">
					
					<h1 class="StepTitle text-red">{{refunded.length}} Refunded</h1>
					<div class="row">
						<!-- <div class="col-sm-6">
							<h2>Count: <span ng-bind="refunded.length"></h2> 
						</div> -->
						<div class="col-sm-12">
							<h2>Amount : $<span ng-bind="refundedTotal"></h2>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="col-sm-6">
			
			<div class="panel panel-white no-radius text-center" style="border-width:3px;">
				<div class="panel-body">
					<h1 class="StepTitle text-blue">{{chargeback.length}} Charge Back</h1>
					<div class="row">
						<!-- <div class="col-sm-6">
							<h2>Count: <span ng-bind="chargeback.length"></h2> 
						</div> -->
						<div class="col-sm-12">
							<h2>Amount : $<span ng-bind="chargebackTotal"></h2>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
</div>

<!-- end: FEATURED BOX LINKS -->
<!-- start: FIRST SECTION -->

<!-- end: FOURTH SECTION -->
