<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Find sales</h1>
			
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<div ng-controller="findSalesCtrl" class="container-fluid container-fullw bg-white">
	<nit-advanced-searchbox
	ng-model="searchParams"
	parameters="availableSearchParams"
	placeholder="Search...">
</nit-advanced-searchbox>

<button class="btn btn-primary btn-o" ng-click="search()">
	Search
</button>
<span us-spinner spinner-key="spinner-1"></span> 

<div class="row" style="padding-top:20px">
	<div class="col-md-12">
		<div ng-if="searchResults.length ==0" class="row">
			<div ng-show="!newCustomerFlag" class="col-md-4 col-md-offset-4" style="text-align:center">
				<p class="mainTitle" style="font-weight:200;font-size:25px">No Customers found.</p>
				<button class="btn btn-primary btn-o" style="margin-left:auto;margin-right:auto" ng-click="newCustomerFlag = true">
					Create New
				</button>
			</div>
			<div ng-if="newCustomerFlag" ng-include="'assets/views/form_customer.html'"></div>

		</div>
		<div class="list-group" ng-repeat="customer in searchResults">
			<a class="list-group-item">
				<div class="row">
					<div class="col-md-6">
						<h5 class="list-group-item-heading text-primary">Customer Name : {{customer.firstname +' '+customer.lastname}}</h5>					
					</div>
					
				</div>
				<hr style="margin:10px 0">
				<div class="row" style="padding-top:10px">
					<div class="col-md-6">
						<p> <strong>Email</strong>: {{customer.email}}</p>
						<p> <strong>Contact</strong>: {{customer.primaryno}}</p>
						<p> <strong>Alt. contact</strong>: {{customer.secondaryno}}</p>
						
					</div>
					<div class="col-md-6">
						<p> <strong>Address</strong>: {{customer.address}}</p>
						<p> <strong>State</strong>: {{customer.state}}</p>
						<p> <strong>Zipcode</strong>: {{customer.zipcode}}</p>
						
					</div>

				</div>
				
				<div class="panel panel-white" id="panel1">
					<div class="panel-heading border-dark">
						<h4 class="panel-title text-green">Open Case</h4>
						
					</div>
					<div collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
						<div class="panel-body">
							<div ng-show="!openCases.length">
								<div class="col-md-3">
									<strong>No open case !</strong>
								</div>
								<div class="col-md-9">
									<button class="btn btn-primary btn-o pull-right" style="margin-left:auto;margin-right:auto" ng-click="openCase(customer)">
										Open Case
									</button>
								</div>
							</div>
							<div ng-repeat="case in openCases = (customer.cases | filter:{status:'open'})">
								<div class="row">
									
									<div ng-show="openCases.length > 0">
										<div class="col-md-3">
											<strong>Case ID</strong> : {{case.uid}}
										</div>
										<div class="col-md-3">
											<strong>Opened on</strong> : {{case.opendate | date:'mediumDate'}}
										</div>
										<div class="col-md-6">
											<button class="btn btn-primary btn-o pull-right" style="margin-left:auto;margin-right:auto" ng-click="">
												Make sale
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-white" id="panel1">
					<div class="panel-heading border-dark">
						<h4 class="panel-title text-red">Closed cases</h4>
						
					</div>
					<div collapse="panel1" ng-init="panel1=false" class="panel-wrapper">
						<div class="panel-body">
							<div ng-repeat="case in customer.cases | filter : {status: '!'+'open'}">
								<div class="row">
									<div class="col-md-3">
										<strong>Case ID</strong> : {{case.uid}}
									</div>
									<div class="col-md-3">
										<strong>Opened on</strong> : {{case.opendate | date:'mediumDate'}}
									</div>
									<div class="col-md-3">
										<strong>Closed on</strong> : {{case.closedate | date:'mediumDate'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</a>			
		</div>
	</div>
</div>
</div>
<!-- end: PAGE TITLE -->
<!-- start: YOUR CONTENT HERE -->
<!-- end: YOUR CONTENT HERE -->