<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Pick Cases</h1>
			
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: TABLE WITH FILTERS -->
<div ng-controller="pickCasesTableCtrl" class="container-fluid container-fullw">
	<div class="row">
		<span us-spinner spinner-key="spinner-1"></span> 
		<div class="col-md-6">
			<a class="btn btn-primary btn-o btn-sm pull-right" id="download" ng-href="{{csv}}" ng-if="role=='admin'">Download xls<i class="fa fa-file-text" style="padding-left:5px"></i></a>
		</div>
		<div class="col-md-12">
			<table ng-table="tableParams" show-filter="true" class="table">
				<tbody ng-repeat="case in $data">
					<tr ng-class-odd="'odd'" ng-class-even="'even'">
						<td width="10%" data-title="'Case ID'" filter="{ 'transactionid': 'text'}">{{case.uid}}</td>
						<td width="15%" data-title="'Customer'">{{case.customer.firstname+' '+ case.customer.lastname}}</td>
						
						
			<td width="10%" data-title="'Details'">
				<div class="pull-left margin-right-10" style="margin:8px 0">
					<button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{sale.id}}" ng-click="openModal(case.id)">Details</button>
				</div>
			</td>
			<td width="10%" data-title="'Make Sale'">
				<div class="pull-left margin-right-10">
					<a class="btn btn-primary btn-o" ui-sref="app.form.sale({caseId:case.id})">
													Make sale
												</a>
				</div>
			</td>
			<td width="10%" data-title="'Close case'">
				<div class="pull-left margin-right-10">
					<button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{sale.id}}" ng-click="closeCase(case.id)">Close</button>
				</div>
			</td>


		</tr>
	</tbody>
</table>

</div>
<script type="text/ng-template" id="caseModal.html">
	<div class="modal-header">
		<h3 class="modal-title">Transaction ID: {{sale.transactionid}}</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row padding-bottom-10">
						Sale by username : <strong>{{user.username}}</strong>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						Customer : <strong>{{sale.firstname}}  {{sale.lastname}}</strong>
					</div>
					<div class="row padding-top-10">
						Contact: <strong>{{sale.primaryno}}</strong>
					</div>
					<div class="row padding-top-10">
						State: <strong>{{sale.state}}</strong>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						Email : <strong>{{booking.email}}</strong>
					</div>
					<div class="row  padding-top-10">
						Alt contact : <strong>{{booking.seconadryno}}</strong>
					</div>
					<div class="row  padding-top-10">
						Zipcode : <strong>{{sale.zipcode}}</strong>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row padding-top-10 padding-bottom-10">
						Address : <strong>{{sale.address}}</strong>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						Sale date : <strong>{{sale.saledate | date:'mediumDate'}}</strong>
					</div>
					<div class="row padding-top-10">
						Payment mode: <strong>{{sale.paymentmode}}</strong>
					</div>

				</div>
				<div class="col-md-6">
					<div class="row">
						Verification date : <strong>{{sale.verificationdate | date:'mediumDate'}}</strong>
					</div>
					<div class="row  padding-top-10">
						Amount : <strong>{{sale.amount}}</strong>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
	</div>
</script>
</div>
</div>
<!-- end: TABLE WITH FILTERS -->
