<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Pick Cases</h1>
			
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: TABLE WITH FILTERS -->
<div ng-controller="technicianCasesTableCtrl" class="container-fluid container-fullw">
	<div class="row">
		<span us-spinner spinner-key="spinner-1"></span> 
		<div class="col-md-6">
			<a class="btn btn-primary btn-o btn-sm pull-right" id="download" ng-href="{{csv}}" ng-if="role=='admin'">Download xls<i class="fa fa-file-text" style="padding-left:5px"></i></a>
		</div>
		<div class="col-md-12">
			<table ng-table="tableParams" show-filter="true" class="table">
				<tbody ng-repeat="case in $data">
					<tr ng-class-odd="'odd'" ng-class-even="'even'">
						<td width="10%" data-title="'Case ID'" filter="{ 'transactionid': 'text'}">{{case.uid}}</td>
						<td width="15%" data-title="'Customer'">{{case.customer.firstname+' '+ case.customer.lastname}}</td>
						<td width="15%" data-title="'Amount'">{{case.sale.amount}}</td>
						<td width="15%" data-title="'Sale by'">{{case.sale.user.name}}</td>
						

			<td width="10%" data-title="'Details'">
				<div class="pull-left margin-right-10" style="margin:8px 0">
					<button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{sale.id}}" ng-click="openModal(case.id)">Details</button>
				</div>
			</td>
			<td width="10%" data-title="'Make Sale'">
				<div class="pull-left margin-right-10">
					<a class="btn btn-primary btn-o" ui-sref="app.form.sale({caseId:case.id})">
													Make sale
												</a>
				</div>
			</td>
			<td width="10%" data-title="'Back to Supervisor'">
				<div class="pull-left margin-right-10">
					<button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{sale.id}}" ng-click="revertCase(case.id)">Revert</button>
				</div>
			</td>


		</tr>
	</tbody>
</table>

</div>
</div>
</div>
<!-- end: TABLE WITH FILTERS -->
