<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle">Manage Users</h1>
			<span>Delete, modify vendors</span>
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: TABLE WITH FILTERS -->
<div ng-controller="userTableCtrl" class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<table ng-table="tableParams" show-filter="true" class="table">
				<tbody ng-repeat="user in $data">
					<tr ng-class-odd="'odd'" ng-class-even="'even'">
						<td width="30%" data-title="'Name'" filter="{ 'name': 'text'}">{{user.name}}</td>
						<td width="30%" data-title="'Username'" filter="{ 'username': 'text'}">{{user.username}}</td>
						<td data-title="'Change Password'">
								<button
								class="btn btn-primary btn-o btn-sm" ng-click="openModal(user.id)">
								New password
							</button>
						</td>
											
						<td data-title="'Delete'">
								<button
								ng-disabled="user.username=='admin'"
								class="btn btn-primary btn-o btn-sm"
								mwl-confirm
								title="{{ title }}"
								message="Do you wish to delete ?"
								confirm-text="Confirm"
								cancel-text="Cancel"
								placement="bottom"
								on-confirm="deleteUser(user.id)"
								on-cancel="cancelClicked = true"
								confirm-button-type="danger"
								cancel-button-type="success">
								Delete
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
					
	</div>
</div>
<!-- end: TABLE WITH FILTERS -->
<script type="text/ng-template" id="changePass.html">
	<div class="modal-header">
		<h3 class="modal-title">Change Password</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row" >
				<div class="col-md-12">
					<div class="form-group">
					<label class="control-label">
						New Password <span class="symbol required"></span>
					</label>
					<input type="password" placeholder="Password" class="form-control" ng-model="newPassword"/>
				</div>
				
			</div>
			<div class="col-sm-12">
				<span><strong>Password: </strong>{{newPassword}}</span>
			</div>
			<div class="col-sm-12 padding-top-10">
				<button class="btn btn-primary btn-o btn-sm" ng-click="updatePassword()">Update</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-primary btn-o" ng-click="cancel()">Cancel</button>
	</div>
</script>